name: Release

on:
  pull_request:
    branches: ["main"]
    types: [closed]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  publish:
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event.pull_request.merged == true && startsWith(github.event.pull_request.title, 'chore: release'))
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Publish crates and create release/tag
        uses: release-plz/action@v0.5
        with:
          command: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_TOKEN }}
          CARGO_PROFILE_DEV_DEBUG: "0"
          RUSTFLAGS: "-Cdebuginfo=0"
